<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Ahhaa! You have found my Secrets</h1>
    <hr>
    <!-- <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a> -->
  </div>
</div>

<%- include('partials/footer') %>
